## Settings file was created by plugin Infinity Tools v1.4
## Plugin GUID: infinity_tools

[1. General]

## Always shows the command in the tool descriptions.
# Setting type: Boolean
# Default value: false
Show command values = false

## Enables circle shape for commands.
# Setting type: Boolean
# Default value: true
Shape circle = true

## Enables ring shape for commands.
# Setting type: Boolean
# Default value: false
Shape ring = false

## Enables rectangle shape for commands.
# Setting type: Boolean
# Default value: true
Shape rectangle = true

## Enables square shape for commands.
# Setting type: Boolean
# Default value: true
Shape square = true

## Enables frame shape for commands.
# Setting type: Boolean
# Default value: false
Shape frame = false

## Meters to move.
# Setting type: String
# Default value: 0.1
Command height amount = 0.1

[2. Binds]

# Setting type: KeyboardShortcut
# Default value: LeftAlt
Command modifier 1 = LeftAlt

# Setting type: KeyboardShortcut
# Default value: LeftControl
Command modifier 2 = LeftControl

## Changes the selection shape.
# Setting type: KeyboardShortcut
# Default value: Q
Change shape = Q

## Changes the command radius.
# Setting type: KeyboardShortcut
# Default value: None
Command radius (mouse wheel) = 

## Changes the command rectangle depth.
# Setting type: KeyboardShortcut
# Default value: LeftShift + LeftAlt
Command depth (mouse wheel) = LeftShift + LeftAlt

## Changes the command height.
# Setting type: KeyboardShortcut
# Default value: LeftShift
Command height (mouse wheel) = LeftShift

## Changes the command rotation.
# Setting type: KeyboardShortcut
# Default value: LeftShift + LeftControl
Command rotation (mouse wheel) = LeftShift + LeftControl

